<app-header><p content>Add new contact</p></app-header>

<form [formGroup]="newContactForm" (ngSubmit)="onSubmit()">
  <div class="row form-group">
    <div class="col-md-12 col-xl-4">
      <label for="name" class="m-2">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        placeholder="Name"
        formControlName="name"
      />
      <span
        *ngIf="
          !newContactForm.get('name').valid &&
          newContactForm.get('name').touched
        "
        class="help-block"
        >This field is required!</span
      >
    </div>
    <div class="col-md-12 col-xl-4">
      <label for="surname" class="m-2">Surname</label>
      <input
        type="text"
        id="surname"
        class="form-control"
        placeholder="Surname"
        formControlName="surname"
      />
      <span
        *ngIf="
          !newContactForm.get('surname').valid &&
          newContactForm.get('surname').touched
        "
        class="help-block"
        >This field is required!</span
      >
    </div>
    <div class="col-md-12 col-xl-4">
      <label for="phone" class="m-2">Phone number</label>
      <input
        type="text"
        id="phone"
        class="form-control"
        placeholder="Phone number"
        formControlName="phone"
      />
      <span
        *ngIf="
          !newContactForm.get('phone').valid &&
          newContactForm.get('phone').touched
        "
        class="help-block"
        >Phone number should contains numbers only! (max 15 numbers!)
      </span>
    </div>
    <div class="col-md-12 col-xl-4">
      <label for="email" class="m-2">E-mail</label>
      <input
        type="text"
        id="surname"
        class="form-control"
        placeholder="E-mail"
        email
        formControlName="email"
      /><span
        *ngIf="
          !newContactForm.get('email').valid &&
          newContactForm.get('email').touched
        "
        class="help-block"
        >This e-mail is not correct!</span
      >
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-12">
      <button
        type="submit"
        class="btn btn-sm btn-success m-2"
        [disabled]="!newContactForm.valid"
      >
        Save
      </button>
      <button
        type="button"
        class="btn btn-sm btn-danger m-2"
        (click)="onReset()"
      >
        Reset
      </button>
      <button
        type="button"
        class="btn btn-sm btn-primary m-2"
        (click)="onBack()"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
