<app-header><p content>Edit Mode</p></app-header>

<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div class="row form-group">
    <div class="col-md-12 col-xl-4">
      <label for="name" class="m-2">Name</label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
      /><span
        *ngIf="!editForm.get('name').valid && editForm.get('name').touched"
        class="help-block"
        >This field is required!</span
      >
    </div>
    <div class="col-md-12 col-xl-4">
      <label for="surname" class="m-2">Surname</label>
      <input
        type="text"
        id="surname"
        formControlName="surname"
        class="form-control"
      /><span
        *ngIf="
          !editForm.get('surname').valid && editForm.get('surname').touched
        "
        class="help-block"
        >This field is required!</span
      >
    </div>
    <div class="col-md-12 col-xl-4">
      <label for="phone" class="m-2">Phone number</label>
      <input
        type="text"
        id="phone"
        formControlName="phone"
        class="form-control"
      /><span
        *ngIf="!editForm.get('phone').valid && editForm.get('phone').touched"
        class="help-block"
        >Phone number should contains numbers only! (max 15 numbers!)
      </span>
    </div>
    <div class="col-md-12 col-xl-4">
      <label for="email" class="m-2">E-mail </label>
      <input
        type="text"
        id="email"
        formControlName="email"
        class="form-control"
      /><span
        *ngIf="!editForm.get('email').valid && editForm.get('email').touched"
        class="help-block"
        >This e-mail is not correct.</span
      >
    </div>
    <div class="col-xs-12 mt-3">
      <button
        type="submit"
        class="btn btn-success m-2"
        [disabled]="!editForm.valid"
      >
        Save
      </button>
      <button type="button" class="btn btn-danger m-2" (click)="onBack()">
        Cancel
      </button>
    </div>
  </div>
</form>
